fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
alembic
aiosqlite
python-multipart
weasyprint
jinja2

# Testing
pytest
pytest-asyncio==0.24.0
httpx
